* {
	margin: 0;
}

body {
	background-color: #181818;
	color: #C0C0C0;
	font-family: sans-serif;
}

header {
	height: 50px;
	background-color: #202020;
}

#opciones {
	display: flex;
	width: fit-content;
	margin: 0 auto;
}

#botón_tema {
	width: 28px;
	margin: 10px;
}

#botón_tema:hover {
	opacity: 80%;
	cursor: pointer;
}

#botón_idioma {
	width: 32px;
	height: 22px;
	margin: auto 8px;
	border-radius: 16%;
}

#botón_idioma:hover {
	opacity: 80%;
	cursor: pointer;
}

#lista_idioma {
	position: absolute;
	top: 45px;
	right: 16px;
	padding: 4px;
	border: 2px solid var(--borde);
	background-color: var(--fondo_base);
	list-style-type: none;
	z-index: 10;
}

#lista_idioma > li {
	padding: 6px;
}

#lista_idioma > li:hover {
	opacity: 80%;
	cursor: pointer;
	background-color: var(--fondo_selección);
}

#lista_idioma > li > img {
	position: relative;
	top: 2px;
	border-radius: 16%;
}

.bios {
	display: flex;
	margin: 20px;
	padding: 20px;
	background-color: #202020;
}

.bios > img {
	max-width: 100%;
	max-height: 24vh;
	border-radius: 100%;
}

.bios > div {
	margin-left: 24px;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

section {
	margin: 20px;
	padding: 20px;
	background-color: #202020;
}

section > div {
	display: flex;
	padding-top: 8px;
	flex-wrap: wrap;
}

h2 {
	margin-left: 20px;
	text-decoration: underline;
}

.artículo {
	padding: 0 20px 10px 20px;
	text-decoration: none;
	color: #C0C0C0;
}

.artículo:hover {
	cursor: pointer;
	box-shadow: 0px 0px 4px 2px #121212;
	background-color: #181818;
}

.artículo > img {
	margin: 0;
	height: 200px;
}

h3 {
	margin: 10px 0;
}

p {
	font-size: 1.2em;
}